<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
            <a class="btn btn-primary pull-right" href="/add">
                <span class="glyphicon glyphicon-plus"></span> Ajouter une personne
            </a>
            <a class="btn btn-primary pull-right" href="/loadData">
                <span class="glyphicon glyphicon-plus"></span> Charger le csv
            </a>
            <a class="btn btn-primary pull-right" href="/stats">
                <span></span> Voir les stats
            </a>
            <h1>Liste des peronnes</h1>

            <ul>
            <% persons.forEach(function(p) { %>
                <li><%= p.firstname + ' / ' + p.lastname  + ' / ' + p.gender + ' / ' + p.age + ' / ' + p.company + ' / ' + p.departement + ' / ' + p.email + ' / ' + p.city + ' / ' + p.country%></li>
            <% }); %>
            </ul>

            <ul id="list" class="pagination">
            <% if(currentPage <= 1){%>
                <li class="disabled"><a disabled="disabled">First Page</a></li>
                <li class="disabled"><a disabled="disabled">Précédente</a></li>
            <% }else{ %>
                <li><a href="/?page= <%= 1 %>">First Page</a></li>
                <li><a href="/?page= <%= currentPage -1 %>">Précédente</a></li>
            <% } %>
           
            <% for(var i = 0; i < table.length; i++) { %>
                <!-- <li class="page-item"><a class="page-link" href="/?page=<%= i %>"> <%= i %> </a></li> -->
                <% if(table[i] == currentPage){ %>
                    <li class="active"><a href='?page=<%= table[i] %>'><%= table[i] %></a></li>
                <% } else{ %>
                    <li ><a href='?page=<%= table[i] %>'><%= table[i] %></a></li>
                 <% } %>
            <% }

            %>
            <% if(currentPage >= nbPage){%>
                <li class="disabled"><a disabled="disabled">Suivante</a></li>
                <li class="disabled"><a disabled="disabled">Last Page</a></li>
               <% }else{ %>
                <li><a href="/?page= <%= currentPage+1 %>">Suivante</a></li>
                <li><a href="/?page= <%= nbPage %>">Last Page</a></li>
                <% } %>
                
            </ul>
        </div>
    </body>
</html>
